[submodule "VAR.Json"]
	path = VAR.Json
	url = https://datacube.duckdns.org/git/VAR/VAR.Json.git
	branch = master
[submodule "VAR.HttpServer"]
	path = VAR.HttpServer
	url = https://datacube.duckdns.org/git/VAR/VAR.HttpServer.git
	branch = master
